<div class="w3-container w3-theme-l2">
    <h5>Mutualisation</h5>
</div>
<div class="w3-panel w3-leftbar w3-sand w3-serif">
Si mutualisation avec d'autres mentions de SDV, indiquer mentions et parcours<br>
Si mutualisation avec d'autres d'autres composantes d'UP Cité, indiquer composantes, mentions et parcours<br>
Si mutualisation avec partenaires externes, indiquer le nom du ou des établissements, les dates de début et de fin de la convention et déposer ci-dessous le fichier pdf de la convention
</div>
<div class="w3-row-padding {{divClass}}">
    <label>Mutualisation</label>
    <div id='mentionMutualisationSDV' class="w3-input w3-border" name="mentionMutualisationSDV" type="text"  placeholder="mutualisation">{{data.mentionMutualisationSDV|raw}}</div>
    {% include('ficheECUE/uploadDoc.html.twig') %}
</div>
