{% extends "layout.html.twig" %}

{% block header %}
    <p>{{ C.nom }}</p>
    <div  class="w3-panel w3-theme-l3 w3-center">Composante: {{ C.nom }}</div>
{% endblock %}


{% block section %}
    <div class="w3-panel w3-theme-l2 w2-center">
    pour l'instant il n'y a pas grand chose à dire là-dessus...
    </div>

{% endblock %}
