<b>Historique pour le champ {{ fieldName }}</b>
{% if updateList is empty %}
<br>Pas d'historique pour ce champ</br>
{% else %}
<ul>
{% for r in updateList %}
<li>{{ r.historique.ip}} -  {{ r.historique.date }}<br>
{{ r.historique.requete }}
</li>
{% endfor %}
</ul>
{% endif %}
