{% extends "layout.html.twig" %}


{% block section %}
<h3>La fiche de validation a été supprimée</h3>

<p>Vous pouvez fermer cet onglet</p>
<p>Note : l'onglet avec la liste des validations n'a pas été mise à jour. C'est à vous de recharger la page pour quelle reflête l'état actuel des validations</p> 

{% endblock %}