{% extends "enseignement/base_voeux.html.twig" %}

{% block anciennete_titre %}
                    <th class="w3-center" title="Ancienneté dans cet enseignement ou dans un enseignement lié">Anc</th> 
{% endblock anciennete_titre %}


{% block anciennete_voeu %}
                    <td class="w3-center w3-text-green {{v.anciennete>3?'w3-text-red'}} {{v.anciennete<1?'w3-text-black'}}" >{{ v.anciennete|f2 }}</td>
{% endblock anciennete_voeu %}


{% block anciennete_bilan %}
                    <td class="w3-center"></td>
{% endblock anciennete_bilan %}
